.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-title {
  font-size: 12px;
}

.contact-detail {
  line-height: 1.7em;
}

@media (max-width: 480px) {
  .contact-container {
    align-items: center;
    font-size: 14pt;
  }

  .contact-detail {
    font-size: 10pt;
    align-items: center;
    text-align: center;
  }
}
