.headshot {
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.name-container {
  font-weight: 700;
  font-style: italic;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: 32pt;
}

.label {
  font-size: 16pt;
}

@media (max-width: 768px) {
  .name {
    font-size: 24pt;
  }
  .label {
    font-size: 14pt;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .headshot {
    margin: 0;
  }

  .name-container {
    align-items: center;
    padding: 20px 0;
  }

  .name {
    font-size: 16pt;
  }
  .label {
    font-size: 12pt;
  }
}
