.summary {
  text-align: left;
  font-size: 12pt;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5em;
}

@media (max-width: 480px) {
  .summary {
    text-align: center;
    font-size: 9pt;
  }
}
